@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto+Mono:ital,wght@1,300&display=swap');

.nav-container{
    background-color: #111112;
}
.product-btn{
    padding: 10px 50px;
    background-color: rgb(214, 58, 219);
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border:1px solid rgb(222, 53, 222);
    transition: 0.3s;
}
.product-btn:hover{
    background-color: rgba(128, 0, 128, 0);
    color: rgb(229, 223, 223);
}
.product-container{
    min-height: 700px;
    background-color: #2a2b30;
    padding: 4% 0px;
    font-family: 'Nunito', sans-serif;


}
.products{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-shrink: 10px;
    padding-bottom: 20px;

}

.product-content{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    border-radius: 20px;
    background-color: rgba(23, 22, 23, 0.649);
    box-shadow: 0px 0px 3px 1px rgb(107, 107, 174);
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.9rem;

}
.img-con{
    width: 90%;
    height: 210px;
}
.product-img{
    border-radius: 20px;
}


.product-des{
    padding: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


@media only screen and (max-width: 1350px){
    .products{
        width: 95%;
    }

}

@media only screen and (max-width: 900px){
    .products{
        width: 90%;
    }

}


